/***** Fonts ******/

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

/***** Main Color Palette *****/

:root {
    --white: #FFFFFF; /* Text color */
    --gray: #666666; /* Gray color */
    --leather-brown: #4A3E3E; /* Watch strap */
    --leather-brown-hover: #4e4343; /* Watch strap */
    --dark-brown: #2D2626; /* Deep accent */
    --silver: #C0C0C0; /* Watch case */
    --cream: rgba(245, 245, 245, 0.7); /* Watch face */
    --gold: #ECAC20FF; /* Luxury accent */
    --beige: rgba(232, 220, 195, 0.7); /* Background accent */
}

/***** Effects *****/

.color-effect {
    background: linear-gradient(90deg, rgba(186,148,62,1) 0%, rgba(236,172,32,1) 20%, rgba(186,148,62,1) 39%, rgba(249,244,180,1) 50%, rgba(186,148,62,1) 60%, rgba(236,172,32,1) 80%, rgba(186,148,62,1) 100%);
    -webkit-background-clip: text; /* Clipping background to text */
    -webkit-text-fill-color: transparent;
    color: transparent; /* Makes the text color transparent */
    display: inline-block; /* Essential for gradient to work */
    width: fit-content; /* Ensures gradient fits to text width only */
    animation: shine 5s infinite; /* Animation */
    background-size: 200%; /* Background size */
}

@keyframes shine {
    to{background-position: right}
}

.luxury-line {
    border-bottom: 2px solid var(--gold);
    margin: 0;
}

/***** General *****/

html {
    box-sizing: border-box; /* Border-box model */
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Varela", "Verdana", "Helvetica", "Arial", sans-serif; /* Default font and backup fonts */
    color: var(--white);
    background: linear-gradient(217deg, rgba(223, 211, 211, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(92, 96, 92, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(49, 49, 53, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.main-container {
    margin: 0 auto;
    width: 85%; /* 85% of the viewport width */
}

/***** Typography *****/

h1 {
    padding: 5rem 4rem 0 4rem;
    font-family: "Montserrat", "Verdana", "Helvetica", "Arial", sans-serif; /* Default font and backup fonts */
    font-size: 4rem;
}

h2 {
    margin: 2rem 3rem;
    font-size: 2.7rem;
    padding: 0 4rem;
}

h3 {
    margin: 0 0 2rem 0;
    padding: 0 4rem;
    font-size: 2rem;
}

p {
    margin: 0;
    padding: 0 4rem;
    font-size: 1.2rem;
}

/***** Buttons *****/

button {
    margin: 0 1rem 1rem;
    padding: 0.5rem 1.5rem;
    color: var(--cream);
    background-color: var(--leather-brown);
    border: 1px solid var(--gold);
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Cursor changes to pointer */
}

button:hover {
    color: var(--gold);
    background-color: var(--leather-brown-hover);
    border: 1px solid var(--gold); /* Gold border */
    transform: translateY(-0.5px); /* Slight upward movement */
}

button:active {
    transform: translateY(+0.5px); /* Slight downward movement */
    transition: transform 0.3s ease; /* Smooth transition */
}

.button-fixed {
    position: absolute;
    left: 0.5rem;
    bottom: 0.8rem;
    font-size: 0.8rem !important;
    border: 1px solid var(--gold);
    z-index: 1; /* Above all other elements */
}

/***** Header *****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    color: var(--white);
    background-color: var(--leather-brown);
}

.header-sticky {
    position: fixed;
    top: 0;
    width: 85%;
    margin: 0;
    padding: 0;
    z-index: 1000; /* Above all other elements */
}

/***** Logo *****/

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 40px;
    height: auto;
    margin-right: -1rem;
    margin-left: -1rem;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease; /* Smooth transition */
}

.logo-container img:hover {
    transform: scale(1.02); /* Slight increase in size */
}

.logo-container a {
    margin: 1rem;
    font-family: "Montserrat", "Verdana", "Helvetica", "Arial", sans-serif; /* Default font and backup fonts */
    font-size: 1.5rem;
    text-transform: uppercase; /* Uppercase text */
    transition: transform 0.3s ease; /* Smooth transition */
}

.logo-container a:hover {
    transform: scale(1.02); /* Slight increase in size */
}

/***** Navbar *****/

.navbar-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Wrap columns */
    column-gap: 6rem; /* Space between columns */
    transform: translateY(-0.1rem); /* Slight upward movement */
}

.navbar-ul li {
    font-size: 1.2rem;
    list-style-type: none; /* Remove bullet points */
    transition: transform 0.3s ease; /* Smooth transition */
}

.navbar-ul li:hover {
    transform: scale(1.05); /* Slight increase in size */
}

.navbar-ul li a {
    color: var(--white);
    text-decoration: none; /* Remove underline */
    transition: transform 0.3s ease; /* Smooth transition */
}

.navbar-ul li a:hover {
    color: var(--gold);
}

/***** Home *****/

#home {
    margin-top: 5rem;
    padding: 6rem 2rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Relative positioning */
    isolation: isolate; /* Prevents the background from affecting other elements */
}

#home::before {
    content: ''; /* Empty content */
    position: absolute;
    inset: 0; /* Cover the entire viewport */
    background: url('../assets/background-image-1600.jpg') no-repeat center center/cover;
    opacity: 0.3; /* Background image opacity */
    z-index: -1; /* Behind all other elements */
}

#home::after {
    content: ''; /* Empty content */
    position: absolute;
    inset: 0; /* Cover the entire viewport */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    z-index: -1; /* Behind all other elements */
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container p {
    font-size: 1.3rem;
    margin-bottom: 3rem;
    padding: 1rem 6em 0 6rem;
    text-align: center;
    line-height: 1.4;
}

.home-img-container {
    position: relative;
    width: 95%; /* 95% of the container width */
    height: 420px;
    overflow: hidden; /* Prevents the image from overflowing */
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-responsive-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Image fills the container */
    opacity: 0.8; /* Image opacity */
}

/***** About *****/

.about-container-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 1rem 0;
}

.about-column-container {
    display: flex;
    flex-wrap: wrap; /* Wrap columns */
    gap: 0.5rem; /* Space between columns */
    row-gap: 50px; /* Space between rows */
}

.about-column-container > div {
    flex: 1 1 30%; /* Each column takes about 30% of the container */
    min-width: 16rem; /* Minimum width for each column */
}

/***** Products *****/

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 6rem 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)); /* Background image opacity */
    background-size: cover; /* Cover the entire container */
}

.products-container {
    display: flex;
    flex-wrap: wrap; /* Wrap columns */
    justify-content: center;
    gap: 2rem; /* Space between columns */
}

.products-h2 {
    margin-bottom: 3.5rem;
}

.products-container-p {
    text-align: left !important;
    padding: 1.5rem 2rem 0 2rem !important;
}

/***** Card *****/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 22rem;
    height: 40rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden; /* Prevents the image from overflowing */
    position: relative; /* Relative positioning */
    transition: all 0.3s ease; /* Smooth transition */
}

.card:hover {
    transform: translateY(-0.1rem); /* Slight upward movement */
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
}

.products-container img {
    width: 20rem;
    height: 16rem;
    padding: 0 7rem 0 7rem;
    object-fit: cover; /* Image fills the container */
    opacity: 0.6; /* Image opacity */
}

.card-alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h3 {
    margin-bottom: 1rem;
    padding: 2rem 2.5rem 0 7rem;
    font-size: 1.5rem;
}

.card p {
    padding: 0 7rem 2.5rem 7rem;
}

.card-description {
    display: block;
    padding: 0.5rem 7rem;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    text-align: left;
}

/***** Contact *****/

#contact {
    color: var(--white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%'%3e%3c/rect%3e%3cpath d='M332.49 571.55C454.45 559.22 529.67 299.47 739.37 297.93 949.08 296.39 942.82 367.93 1146.26 367.93 1349.7 367.93 1449.93 298.18 1553.14 297.93' stroke='rgba(45%2c38%2c38%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M675.53 567.69C813.87 491.99 740.42 32.47 999.91 26.68 1259.4 20.89 1480.41 204.24 1648.67 205.88' stroke='rgba(45%2c38%2c38%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M588.57 627.83C760.88 589.63 830.32 139.13 1094.83 135.77 1359.34 132.41 1466.39 317.71 1601.09 320.57' stroke='rgba(45%2c38%2c38%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M410.85 610.62C559.42 555.79 577.33 123.94 798.7 109.8 1020.08 95.66 992.63 179.8 1186.56 179.8 1380.48 179.8 1475.88 110.08 1574.41 109.8' stroke='rgba(45%2c38%2c38%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M446.33 584.03C613.22 580.38 740.06 359.59 1072.76 352.85 1405.47 346.11 1533.38 137.55 1699.2 134.45' stroke='rgba(45%2c38%2c38%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1; /* Behind all other elements */
    padding: 2rem;
}

.contact-us-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Wrap columns */
    gap: 2rem; /* Space between columns */
    padding: 4rem;
    margin-left: -4rem;
    overflow: hidden; /* Prevents the image from overflowing */
}

.contact-us-container h2 {
    margin: 0 0 2rem -4rem;
    padding: 0;
    font-size: 2.5rem;
}

.visit-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 2rem;*/
}

/****** Footer *****/

footer {
    padding: 30px 0;
    text-transform: uppercase;
    background-color: var(--dark-brown);
}
